.about {
    position: absolute;
    top: var(--start-position);
    text-align: center;
    color: white;

    width: 600px;
    margin: auto;
}
.about h3, h5, li {
    font-family: 'Oswald', sans-serif !important;
}
.about ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about ul li {
    width: fit-content;
}

.playStateIcon {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    font-size: 40px;
}