.quoteText {
    max-width: 600px;
}
.loadingText {
    font-size: 1.4rem;
}
.quizList {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 450px;
    background-color: #fafafa;
}
.raleway {
    font-family: 'Raleway', sans-serif !important;
}
.quizSuccess {
    width: 400px;
}

.playerFoundText {
    font-family: 'Titan One', cursive !important;
    position: relative;
    top: 20px;
    display: inline-block;
    font-size: 80px !important;
    color: white;
    text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
}